
<div class="header">
<h1>
	<span>The plunge has been taken!</span>

</h1>


<div class="image">
    <img height="400" width="300" src="/assets/Ann&Bijoy.jpg" alt="Ann&Bijoy">
</div>

<br />

<div class="main_body">
	<p>
		<i>We were really happy that we could spend our special day with family even though it was halfway across the world. We wanted to thank everyone who has every influenced us in our lives one way or the other and being  a part of it so that we could be the best version of us for each other.</i>

		
		<p>
			- Love Ann and Bijoy
		</p>
	</p>
</div>

</div>

