
p {
	text-align: center;

}

.main_body {
	text-align: center;
	font-color: lightblue;
}

.header {
	text-align:center;
	font-color: darkblue;
}

h1 span {
	color: darkblue;
	text-align: center;
	font-size: 25px;
}

.image {
	display: block;
    margin-left: auto;
    margin-right: auto
}